*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;

}

h1 {
    margin-bottom: 12rem;
}

h2,
 p {
    margin-bottom: 1rem;
}

button {
    height: 4rem;
    width: 8rem;
    background-color: greenyellow;
    border: 1px solid orange;
    margin-top: 1rem;
}

button:hover {
    background-color: antiquewhite;
}

button:active {
    background-color: aliceblue;
}